<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sc.mapper.ScoreRecordMapper">

    <insert id="creatScoreRecordToday">
        INSERT INTO score_record(theUserId, scoreRecordTime, scoreRecordType, scoreRecordNum)
        VALUES (#{userId}, #{scoreRecordTime}, #{scoreRecordType}, #{scoreRecordNum})
    </insert>

    <select id="checkScoreForDay" resultType="com.sc.entity.ScoreRecord">
        select * from score_record where 1 = 1
        <if test = "theUserId != null"> and theUserId = #{theUserId}</if>
        <if test = "scoreRecordTime != null"> and scoreRecordTime = #{scoreRecordTime}</if>
    </select>

</mapper>